<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Block\Form\Register">
        <plugin name="rollpix_google_onetap_register_form_prefill"
                type="Rollpix\GoogleOneTap\Plugin\Customer\RegisterFormPrefill" />
    </type>
    <type name="Magento\Customer\Controller\Account\CreatePost">
        <plugin name="rollpix_google_onetap_passwordless_registration"
                type="Rollpix\GoogleOneTap\Plugin\Customer\PasswordlessRegistration" />
    </type>
</config>
